{% extends 'base.html.twig' %}

{% block title %}Авторы{% endblock %}
{% block h1 %}Авторы{% endblock %}

{% block body %}
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Дата создания</th>
            <th scope="col">Дата обновления</th>
            <th scope="col">Имя</th>
            <th scope="col">Фамилия</th>
            <th scope="col">Отчество</th>
        </tr>
        </thead>
        <tbody>
        {% for author in authors %}
            <tr>
                <th scope="row">{{ author.id }}</th>
                <td>{{ author.createdAt.format('d.m.Y H:i:s') }}</td>
                <td>{{ author.updatedAt.format('d.m.Y H:i:s') }}</td>
                <td>{{ author.firstName }}</td>
                <td>{{ author.lastName }}</td>
                <td>{{ author.secondName }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}