{% extends 'base.html.twig' %}

{% block title %}{{ 'title.authorList'|trans }}{% endblock %}
{% block h1 %}{{ 'title.authorList'|trans }}{% endblock %}

{% block body %}
    <a href="{{ path('author_create') }}" class="btn btn-primary mb-2">{{ 'base.add'|trans }}</a>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">{{ 'base.createdAt'|trans }}</th>
            <th scope="col">{{ 'base.updatedAt'|trans }}</th>
            <th scope="col">{{ 'author.firstName'|trans }}</th>
            <th scope="col">{{ 'author.lastName'|trans }}</th>
            <th scope="col">{{ 'author.secondName'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for author in authors %}
            <tr>
                <th scope="row">{{ author.id }}</th>
                <td>{{ author.createdAt.format('d.m.Y H:i:s') }}</td>
                <td>{{ author.updatedAt.format('d.m.Y H:i:s') }}</td>
                <td>{{ author.firstName }}</td>
                <td>{{ author.lastName }}</td>
                <td>{{ author.secondName }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}