{% extends 'base.html.twig' %}

{% block title %}{{ 'title.authorList'|trans }}{% endblock %}
{% block h1 %}{{ 'title.authorList'|trans }}{% endblock %}

{% block body %}
    <a href="{{ path('author_create') }}" class="btn btn-primary mb-2">{{ 'base.add'|trans }}</a>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">{{ 'base.createdAt'|trans }}</th>
            <th scope="col">{{ 'base.updatedAt'|trans }}</th>
            <th scope="col">{{ 'author.firstName'|trans }}</th>
            <th scope="col">{{ 'author.lastName'|trans }}</th>
            <th scope="col">{{ 'author.secondName'|trans }}</th>
            <th scope="col">{{ 'author.countBooks'|trans }}</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        {% for author in authors %}
            <tr>
                <th scope="row">{{ author.id }}</th>
                <td>{{ author.createdAt | date('d.m.Y H:i:s') }}</td>
                <td>{{ author.updatedAt | date('d.m.Y H:i:s') }}</td>
                <td>{{ author.firstName }}</td>
                <td>{{ author.lastName }}</td>
                <td>{{ author.secondName }}</td>
                <td>{{ author.countBooks }}</td>
                <td>
                    <div class="dropdown">
                        <button class="btn btn-secondary" type="button" id="dropdownMenuButton"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="oi oi-menu"></span>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="{{ path('author_edit', {'id': author.id}) }}"><span class="oi oi-pencil"></span>&nbsp;Edit</a>
                            <a class="dropdown-item author_delete-js" href="{{ path('author_delete', {'id': author.id}) }}"><span class="oi oi-minus"></span>&nbsp;Delete</a>
                        </div>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="navigation">
        {{ knp_pagination_render(authors) }}
    </div>
{% endblock %}