{% extends 'base.html.twig' %}

{% block title %}{{ 'title.bookList'|trans }}{% endblock %}
{% block h1 %}{{ 'title.bookList'|trans }}{% endblock %}

{% block body %}
    <a href="{{ path('book_create') }}" class="btn btn-primary mb-2">{{ 'base.add'|trans }}</a>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">{{ 'base.createdAt'|trans }}</th>
            <th scope="col">{{ 'base.updatedAt'|trans }}</th>
            <th scope="col">{{ 'book.name'|trans }}</th>
            <th scope="col">{{ 'book.author'|trans }}</th>
            <th scope="col">{{ 'book.year'|trans }}</th>
            <th scope="col">{{ 'book.pages'|trans }}</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        {% for book in books %}
            <tr>
                <th scope="row">{{ book.id }}</th>
                <td>{{ book.createdAt | date('d.m.Y H:i:s') }}</td>
                <td>{{ book.updatedAt | date('d.m.Y H:i:s') }}</td>
                <td>{{ book.name }}</td>
                <td>{{ book.author.fio }}</td>
                <td>{{ book.year }}</td>
                <td>{{ book.pages }}</td>
                <td>
                    <div class="dropdown">
                        <button class="btn btn-secondary" type="button" id="dropdownMenuButton"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="oi oi-menu"></span>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="{{ path('book_edit', {'id': book.id}) }}"><span class="oi oi-pencil"></span>&nbsp;Edit</a>
                            <a class="dropdown-item book_delete-js" href="{{ path('book_delete', {'id': book.id}) }}"><span class="oi oi-minus"></span>&nbsp;Delete</a>
                        </div>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}